.btn{
    background-color: $main_color;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    transition: 0.3s all;
    &:hover{
        box-shadow: 3px 3px 20px #52251d;
        background-color: #dc5238;
    }
}