.feedback{
    padding: 51px 0 63px 0;
}
.carousel{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    &__item{
        text-align: center;
        opacity: 0.5;
        transform: scale(0.6);
        transition: 0.5s all ease;
        transition-delay: 0.3s;
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        margin-top: 19px;
    }
    &__descr{
        font-size: 14px;
        font-weight: 300;
        margin-top: 5px;
    }
    .slick-next, .slick-prev{
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
        img{
            width: 15px;
            height: 47px;
        }
    }
    .slick-next{
        top: 34px;
        right: 500px;
    }
    .slick-prev{
        top: 34px;
        left: 500px;
        z-index: 2;
    } 
    &__item.slick-current{
        opacity: 1;
        transform: scale(1);
    }
}